@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "daisyui" {
  themes: pastel --default, pastel --prefersdark;
}

/* Styles globaux */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: var(--foreground);
  background-image: url('/bg-default.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Suppression des scrollbars */
body,
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Composants personnalisés */
.tag-input {
  @apply mb-4 w-full rounded-[22px] bg-white/50 backdrop-blur-lg border-transparent shadow-md leading-8 transition-colors duration-200 ease-in-out text-white text-sm p-2;
}

.tag-input .tag {
  @apply px-2 py-1 rounded-md mr-2;
}

.tag-input .tag .remove-tag-button {
  @apply ml-2;
}

.tag-input .new-tag {
  @apply focus:border-0 focus:outline-none text-gray-700;
}
